/* inputs fields */

    /* Textarea */
    input ,select , textarea, select:not(.picker__select--month, .picker__select--year){
    color: #fff !important;
    }
    /* label color */
    .input-field label {
     color: #fff !important;
    }
    .input-field svg.active {
     color: #21ebad !important;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
     color: #fff !important;
    }

    /* slider color */
    input[type="range"]::-moz-range-track{

      background: #fff !important;
    }

    /* no-box slider */
    input[type="range"]{

      border: 0px solid white !important;
    }

    /* align and set width */
    .range-field{

      width: 90% !important;
      margin-right: 0.7em !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff !important;
     box-shadow: 0 1px 0 0 #fff !important;
    }
    .dropdown-content li > a, .dropdown-content li > span {
      color: #c91249 ;
    }


    .separator {
    width: 92% !important;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: rgba(33,235,173,0.85);
    margin: auto !important;
    }
    .titleTransparent {
    color: rgba(255, 255, 255, 0.95);
    margin-top:4em;
    margin-bottom:1em;
    }

    .droppioIcon {
      font-size: 2rem;
      margin-left: 0.5rem;
    }

/* Buttons */

    .droppioBtn {
      background-color: #45ceee !important;
      height: 40px;
      width: 150px;
    }

    .droppioBtnFat {
      background-color: #45ceee !important;
      height: 55px;
      width: 150px;
    }
/* Icons */

    .navbarIcon{
      font-size:1.3em
    }

/* Cards */


    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
      margin-right:0px !important;
    }

    .card-action {
        padding: 12px 24px 35px !important;
    }


/* Navbar */


    .droppioNav {
      background-color: rgba(255, 255, 255, 0) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .droppioNavElem{
      color: #e7668d;
     }

    .droppioNavElem:hover{
        color: #c91249 !important;
        -moz-transition: all 0.25s ease-in;
        -webkit-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
     }

    /*  Top Nav */


    /* Bottom Nav */

    .droppioBottomNav{
       background-color: rgba(255, 255, 255, 100) !important;
     }

    .droppioBottomFixed {
       position: absolute !important;
       height: 48px;
       z-index: 997;
       bottom: 0px !important;
     }

    .droppioBottomNav .indicator{
      background-color: #c91249 !important;
    }

    .droppioCardButton{

      font-size:1.25em;
      color: #45ceee !important;
    }
/* content section */


    .content {
      margin-bottom: 5em;
    }


/* background transition */


    body {
    	width: 100wh;
    	height: 90vh;
    	color: #fff;
    	background: linear-gradient(-45deg, #eb215f, #c81349, #990e38, #820c2f);
    	background-size: 2000px 2000px;
    	-webkit-animation: Gradient 15s ease infinite;
    	-moz-animation: Gradient 15s ease infinite;
    	animation: Gradient 15s ease infinite;
    }

    @-webkit-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @-moz-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }
