/* generals */

    .shadown {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8) !important;
    }
    .content {
      box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.8);
      width: 100vw !important;
      height: 100vh !important;
      overflow: hidden;
      overflow: scroll;
    }


/* presentation */

    /* background transition */
    #presentation {
      color: #fff;
      background: linear-gradient(-45deg, #550e23, #c91249, #550e23, #c91249);
      background-size: 2000px 2000px;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
    }
    @-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @-moz-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    /* navbar */
    #presentation nav {
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none !important;
      padding: 0em 1rem 0rem 1rem;
    }

    /* countdown */

    h1 {
      font-weight: normal;
      font-size: 2em !important;
    }
    li {
      display: inline-block;
      font-size: 1.5em !important;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }
    li span {
      display: block;
      font-size: 3rem;
    }

    /* phone presentation */

    .phonePresentation img {
      width: 100%;
    }
