/* General Info about Materialize.

Buttons Color Class: #FFAB40 orange accent-2

*/

/* generals */

    /* input fields */
    /* Textarea */
    input ,select , textarea{
    color: #fff !important;
    }
    /* label color */
    .input-field label {
     color: #fff !important;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
     color: #fff !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff !important;
     box-shadow: 0 1px 0 0 #fff !important;
    }
    .dropdown-content li > a, .dropdown-content li > span {
      color: #c91249 !important;
    }

    .separator {
    width: 85% !important;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
    margin: auto !important;
    margin-top: 1rem !important;
    }
    .titleTransparent {
    color: rgba(255, 255, 255, 0.7);
    }

    /* content */
    .shadown {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8) !important;
    }
    .content {
      min-width: 100vw;
      min-height: 100vh;
      width: 100% !important;
      height: 100% !important;
    }
    .paddingTop {
      padding-top: 1em;
    }
    .paddingTop5 {
      padding-top: 5em;
    }
    body {
      color: #fff;
    }
    .droppioRed {
      background: linear-gradient(45deg, #550e23, #c91249);
    }
    .droppioIcon {
      margin: 1rem 1rem 1rem 1rem;
      font-size: 2em;
    }
    .card .droppioIcon, footer .droppioIcon{
      margin: 0 0 0 0 !important;
      font-size: 2.5rem !important;
    }
    li span {
      display: block;
      font-size: 1.2rem;
      text-align: center;
    }
    .leftBorder {
      border-left: 1px solid grey;
    }
    .copyleft {
    display:inline-block;
    transform: rotate(180deg);
    }

    .timeline i:not(.fas) {
      transition: all 0.3s ease;
    }
    .rotate180{
    transform: rotate(180deg);
    }

    .noMarginBottom {
      margin-bottom: 0px;
    }
    .parallax img {
      opacity: 1 !important;
    }

    a:not(footer) {
      color: #ffab40;
    }


/* presentation */

    /* background transition */
    #background {
      color: #fff;
      z-index: -1;
      position: fixed;
      background: linear-gradient(-45deg, #550e23, #c91249, #550e23, #c91249);
      width: 100vw;
      height: 100vh;
      background-size: 2000px 2000px;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
    }
    @-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @-moz-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    /* navbar */
    #presentation nav {
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none !important;
      padding: 0em 1rem 0rem 1rem;
    }

    /* countdown */

    h1 {
      font-weight: normal;
    }
    li {
      display: inline-block;
      list-style-type: none;
      padding: 0.5rem;
    }
    .countdown li span {
      display: block;
      font-size: 2.5rem;
      text-align: center;
    }

    /* phone presentation */

    .phonePresentation img {
      width: 100%;
    }

/* OpenData Content */

    #data .parallax img {
      min-width: 0px !important;
      min-height: 0px !important;
      background-repeat: repeat-x repeat-y !important;
      background-size: 200px !important;
    }
    .droppioList{
      max-width: 50% !important;
      margin-top: 10%;
      margin-left: 25%;
      margin-bottom: 10%;
      transform: rotate(-15deg);
    }

/* Sign Up input fields */

    #signup form .row:not(.checkbox)  {
      margin-bottom: 0px !important;
    }

/* About us */


/* Versions */

    #versions ul li {
      width: 100%;
      color: #000;
      background-color: #fff;
    }

    #versions ul li .card-title {
      margin-top: 1rem;
    }

    #versions ul li .collapsible-header {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }

    #versions ul li .collapsible-header:hover {
      color: grey;
    }

    #versions .textAlignCenter {
      position: absolute;
      padding: 10px 0px 0px 7px !important;
    }

    #versions .collapsible-header, #versions .collapsible-body {
      border-bottom: none !important;
    }

    #versions {
      padding-bottom: 5em;
      box-shadow: 5px 10px 8px #888888;
    }

/* Footer */

    .page-footer {
      background-color: rgb(30, 30, 30);
    }

    footer a {
      color: #ccc;
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }
    footer .footer-copyright {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }

    footer a:hover {
      color: #ffab40;
    }
    footer {

      z-index: -5;
    }
